<ion-content padding>
<ion-card>
    <ion-card-content>
        
            <ion-img src="/assets/img/tilapia.jpg"></ion-img>
        
      </ion-card-content>
  <ion-card-header>
    <ion-card-title>Orechromis niloticus</ion-card-title>
    <ion-card-subtitle>Tilapia do Nilo</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card>
    <ion-card-content>
      <ion-img src="/assets/img/tilapia.jpg"></ion-img>
    </ion-card-content>
  <ion-card-header>
    <ion-card-title>Orechromis niloticus</ion-card-title>
    <ion-card-subtitle>Tilapia do Nilo</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-content>       
     <ion-img src="/assets/img/tilapia.jpg"></ion-img>
  </ion-card-content>
  <ion-card-header>
    <ion-card-title>Orechromis niloticus</ion-card-title>
    <ion-card-subtitle>Tilapia do Nilo</ion-card-subtitle>
  </ion-card-header>
</ion-card>
<br> <br>

</ion-content>
