
<ion-header>
  <ion-toolbar color="success">
    <ion-img class="logo" src="/assets/icon/logo.png" style="width:35%" aria-posinset="center"></ion-img>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-tabs>
    <ion-tab-bar slot="top" >
      <ion-tab-button tab="dados">
        <h5>Dados</h5>

      </ion-tab-button>
  
      <ion-tab-button tab="especies">
        <h5>Especies</h5>
      </ion-tab-button>
  
      <ion-tab-button tab="sensores">
        <h5>Sensores</h5>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
