
<ion-content>
  <div style="padding: 5px 19px;font-size: 17px; color:grey;">
    <p>Resevatório 01</p>
    <hr style="margin: -1px -4px">
  </div>
  <div class="referencias">
     <p id="sensor">sensor</p><p id="status">status</p>
    </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="sensores">
          <ion-item class="sensor">
            <ion-label>Temperatura-Superficie</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Temperatura-Substrato</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Temperatura-Coluna d'agua</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Oxigênio Dissolvido</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>PH</ion-label>
            <ion-icon color="danger" name="alert"></ion-icon> 
          </ion-item>
          <ion-item>
              <ion-label>Condutividade</ion-label>
              <ion-icon color="danger" name="alert"></ion-icon> 
            </ion-item>
          <ion-item>
            <ion-label>Salinidade</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Amônia</ion-label>
            <ion-icon color="danger" name="alert"></ion-icon> 
          </ion-item>
            
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
