ion-item{
    margin: 20px;
}
.sensores{
    border-radius: 20px;
    position: relative;
    top: -14px;
    box-shadow: 0.5px 1px 4px 0.5px #666666;
    
}
.referencias{
   display: flex;
   position: relative;
   top: 3px;
   margin-bottom: 4px;
   font-size: 16px;
   color: gray;
}
#status{
    position: relative;
    left: 228px;
}
#sensor{
    position: relative;
    left: 44px;
}
p{
    margin-bottom:9px
}