
ion-card-header{
    text-align: center;
    height: 50px;
}
ion-card-content{
    height: 110px;
    position: relative; 
    
}
ion-card-subtitle{
    text-align-last: center;
    font-size: 40px;
    font-weight: bold;
    
}
ion-col{
    padding: 0px;
}
ion-card-title{
    font-size: 15px;
    color: white;
}
p{
    font-size: 8px;
    text-align: center;
}
.icone{
    left: 84%;
    font-size: 22px;
    position:absolute;
    top: 74%;
}

.temp-grid{
    font-size: 24px;
    padding: 2px;
}
.valores{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.informacao{
    position: relative;

}
.medida{
    text-align-last: center;
}
#header-temperatura{
    background-color:#f18a2e ;

}
#header-oxigenio{
    background-color:#426686 ;
}
#header-ph{
    background-color:#6d8786 ;
}
#header-amonia{
    background-color:#15499d ;
}
#header-condutividade{
    background-color:#657f90 ;
}
#header-salinidade{
    background-color:#0d7e3e ;
}
#cont-temperatura{
    background-color:#f7ce40 ;
}
#cont-oxigenio{
    background-color:#79b6e3 ;
}
#cont-ph{
    background-color:#71cac8 ;
}
#cont-amonia{
    background-color:#83a7d9 ;
}
#cont-condutividade{
    background-color:#55b6e3 ;
}
#cont-salinidade{
    background-color:#72c581 ;
}
