<ion-content>
  <div style="padding: 5px 19px;font-size: 17px; color:grey;">
    <h6>Resevatório 01</h6>
    <hr style="margin: -1px -4px">
  </div>
<ion-grid>
   <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header id="header-temperatura" >
          <ion-card-title >TEMPERATURA</ion-card-title><br>
        </ion-card-header>
        <ion-card-content id="cont-temperatura">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-subtitle class="temp-grid">40°C</ion-card-subtitle>
                <p>SUPERFICIE</p>
              </ion-col>
              <ion-col>
                <ion-card-subtitle class="temp-grid">26°C</ion-card-subtitle>
                <p>COLUNA D'ÁGUA</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card-subtitle class="temp-grid">16°C</ion-card-subtitle>
                <p>SUBSTRATO</p>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
          <div class="icone">
            <ion-icon color="light" name="information-circle"></ion-icon>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card>
        <ion-card-header id="header-oxigenio" >
          <ion-card-title  style="position: relative;
    top: -7px;">OXIGÊNIO DISSOLVIDO</ion-card-title>
        </ion-card-header>
        <ion-card-content id="cont-oxigenio">
          <div class="valores">
            <ion-card-subtitle>23</ion-card-subtitle>
            <h6 class="medida">mg/L</h6>
          </div>
          <div class="icone">
            <ion-icon color="light" name="information-circle"></ion-icon>
          </div>
          </ion-card-content>
      </ion-card>
    </ion-col>
    
  </ion-row>
  <ion-row >
      <ion-col>
        <ion-card>
          <ion-card-header id="header-ph">
            <ion-card-title>PH</ion-card-title><br>
          </ion-card-header>
          <ion-card-content id="cont-ph">
              <div class="valores">
              <ion-card-subtitle>8</ion-card-subtitle>
              </div>
              <div class="icone">
              <ion-icon color="light" name="information-circle"></ion-icon>
              </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-card-header id="header-amonia">
            <ion-card-title>AMÔNIA</ion-card-title><br>
          </ion-card-header>
          <ion-card-content id="cont-amonia">
            <div class="valores">
              <ion-card-subtitle>0,01</ion-card-subtitle>
              <h6 class="medida">mg/L</h6>
            </div>
            <div class="icone">
              <ion-icon color="light" name="information-circle"></ion-icon>
            </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header id="header-condutividade">
              <ion-card-title>CONDUTIVIDADE</ion-card-title><br>
            </ion-card-header>
            <ion-card-content id="cont-condutividade">
                <div class="valores">
                <ion-card-subtitle>5</ion-card-subtitle>
                <h6 class="medida">m$/cm</h6>
                </div>
                <div class="icone">
                <ion-icon color="light" name="information-circle"></ion-icon>
                </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col>
          <ion-card>
            <ion-card-header id="header-salinidade">
              <ion-card-title>SALINIDADE </ion-card-title><br>
              
            </ion-card-header>
            <ion-card-content id="cont-salinidade">
                <div class="valores">
                <ion-card-subtitle>20</ion-card-subtitle>
                <h6 class="medida">mg/ml</h6>
                </div>
                <div class="icone">
                <ion-icon color="light" name="information-circle"></ion-icon>
                </div>
              </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>

  </ion-grid>
</ion-content>
