<ion-header>
  <ion-toolbar color="success">
    <ion-img class="logo" src="/assets/icon/logo.png" style="width:35%" aria-posinset="center"></ion-img>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3 >Resevatórios</h3>
  <ion-searchbar placeholder="Buscar resevatorio"></ion-searchbar> 
  <ion-list>
    <ion-item-sliding (click)="abrirpagina('resevatorio')" >  
          <ion-item>
              <ion-thumbnail slot="start">
                <ion-img src="/assets/img/colorido.jpg"></ion-img>
              </ion-thumbnail>
              <div>
              <ion-label>Resevatório 1</ion-label>
              <ion-label class="peixes-tanque">Tambaqui; Pirarucu</ion-label>
            </div>
            <ion-icon color="danger" name="alert" slot="end"></ion-icon> 
            </ion-item>

    </ion-item-sliding>
  
    <ion-item-sliding (click)="abrirpagina('resevatorio')" >  
        <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="/assets/img/colorido.jpg"></ion-img>
            </ion-thumbnail>
            <div>
              <ion-label>Resevatório 2</ion-label>
              <ion-label class="peixes-tanque">Tambaqui; Tilapia</ion-label>
            </div>          
        </ion-item>
  </ion-item-sliding>
  <ion-item-sliding (click)="abrirpagina('resevatorio')">  
      <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="/assets/img/colorido.jpg"></ion-img>
          </ion-thumbnail>
          <div>
            <ion-label>Resevatório 3</ion-label>
            <ion-label class="peixes-tanque">Pacu; Tilapia</ion-label>
          </div>        
      </ion-item>
  </ion-item-sliding>
  <ion-item-sliding (click)="abrirpagina('resevatorio')">  
      <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="/assets/img/colorido.jpg"></ion-img>
          </ion-thumbnail>
          <div>
            <ion-label>Resevatório 4</ion-label>
            <ion-label class="peixes-tanque">Tambaqui e Tilapia</ion-label>
          </div>        
        </ion-item>
  </ion-item-sliding>
  <ion-item-sliding (click)="abrirpagina('resevatorio')">  
    <ion-item>
        <ion-thumbnail slot="start">
          <ion-img  src="/assets/img/colorido.jpg"></ion-img>
        </ion-thumbnail>
        <div>
          <ion-label>Resevatório 5</ion-label>
          <ion-label class="peixes-tanque">Piau; Tilapia</ion-label>
        </div>  
        <ion-icon color="warning" name="alert" slot="end"></ion-icon>      
      </ion-item>
</ion-item-sliding>
<ion-item-sliding (click)="abrirpagina('resevatorio')">  
  <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="/assets/img/colorido.jpg"></ion-img>
      </ion-thumbnail>
      <div>
        <ion-label>Resevatório 6</ion-label>
        <ion-label class="peixes-tanque">Tambaqui; Sardinha</ion-label>
      </div>        
    </ion-item>
</ion-item-sliding>
<ion-item-sliding (click)="abrirpagina('resevatorio')">  
  <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="/assets/img/colorido.jpg"></ion-img>
      </ion-thumbnail>
      <div>
        <ion-label>Resevatório 7</ion-label>
        <ion-label class="peixes-tanque">Tambaqui e Tilapia</ion-label>
      </div> 
      <ion-icon color="danger" name="alert" slot="end"></ion-icon>        
    </ion-item>
</ion-item-sliding>
</ion-list>
</ion-content>
