
ion-toolbar{ 
  --ion-background-color : #2e8b57 ;
  --color: white;
}
ion-thumbnail {
  --border-radius: 80px;
}
ion-list{
  margin-bottom: 20px;
}
.logo{
  margin-left: 8em;
}
.peixes-tanque{
  margin: 5px 0px;
  color: gray;
}